<h2>Por Reguion</h2>
<hr>

<div class="row">
    <div class="clo text-center">
        <button
        class="btn mx-2"
        (click)="searchByReguion(reguion)"
        [ngClass]="{'btn-outline-primary' : selectedReguion === reguion }"
        *ngFor="let reguion of reguions"
        >{{reguion}}</button>
    </div>
</div>

<div class="row">
    <div class="clo">
        <hr>
        <sheader-loading-spinner *ngIf="isLouding"></sheader-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>

